---
layout: layout.njk
---

<div class="navbar">

  <a href="/"><img height="50" src="https://i.pinimg.com/originals/33/47/01/3347014306c9c840fbc3ee857491f18d.jpg"></a>

  <p><a href="/">Alex P.</a></p> 

</div>

{{ content | safe }}
